:root {
  --width: 150px;
  --height: 150px;
  --ripple-color: var(--tg-theme-button-color);
  --borderRadius: 50%;
}


.heartbeat {
  display: inline-block;
  animation: heartbeat-animation 1.5s infinite ease-in-out;
}

@keyframes heartbeat-animation {
  0% {
    transform: scale(1);
    /* Normal size */
  }

  25% {
    transform: scale(1.2);
    /* Grow the element */
  }

  50% {
    transform: scale(1);
    /* Return to normal size */
  }

  75% {
    transform: scale(1.2);
    /* Grow again */
  }

  100% {
    transform: scale(1);
    /* Return to normal size */
  }
}

.micro {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  background-color: var(--ripple-color);
  border-radius: var(--borderRadius);
}

.micro:before,
.micro:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 3px var(--ripple-color);
  border-radius: var(--borderRadius);
}

.micro:before {
  animation: ripple 2s linear infinite;
}

.micro:after {
  animation: ripple 2s 1s linear infinite;
}

@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}